APP_NAME="mini-rag"
APP_VERSION="0.1.0"
APP_DESCRIPTION="A mini version of RAG (Retrieval-Augmented Generation) using LangChain and Pinecone."
APP_AUTHOR="Hosam Abdelhakim"
APP_AUTHOR_EMAIL="hossam.hakim.fci@gmail.com"

ALLOWED_EXTENSIONS = ["text/plain", "application/pdf"]
MAX_FILE_SIZE = 10485760
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512 KB